<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>9.3</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>NSUserActivityTypeBrowsingWeb</string>
      <string>com.netease.news.reading</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos9.3</string>
    <key>CFBundleName</key>
    <string>网易新闻</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>网易新闻</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>newsapp</string>
      <string>weixin</string>
      <string>wechat</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqconnect</string>
      <string>mqqopensdkdataline</string>
      <string>mqqopensdkgrouptribeshare</string>
      <string>mqqopensdkfriend</string>
      <string>mqqopensdkapi</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqzoneopensdk</string>
      <string>wtloginmqq</string>
      <string>wtloginmqq2</string>
      <string>mqqwpa</string>
      <string>mqzone</string>
      <string>mqzonev2</string>
      <string>mqzoneshare</string>
      <string>wtloginqzone</string>
      <string>mqzonewx</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapi</string>
      <string>mqzoneopensdk</string>
      <string>yixinopenapi</string>
      <string>yixin</string>
      <string>sinaweibo</string>
      <string>sinaweibohd</string>
      <string>sinaweibosso</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>googlechrome</string>
      <string>org-appextension-feature-password-management</string>
      <string>kaola</string>
      <string>cc</string>
      <string>alipayshare</string>
      <string>alipay</string>
      <string>nteslocalmerchant</string>
      <string>lofter</string>
      <string>lofterapi</string>
      <string>com.suning.SuningEBuy</string>
      <string>ctrip</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>允许定位以获取更多贴心服务</string>
    <key>UIBackgroundModes~ipad</key>
    <array>
      <string>fetch</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13E230</string>
    <key>CFBundleShortVersionString</key>
    <string>532</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance~ipad</key>
    <true/>
    <key>BuildMachineOSBuild</key>
    <string>15D21</string>
    <key>DTPlatformBuild</key>
    <string>13E230</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>7D175</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UIAppFonts</key>
    <array>
      <string>DS-DIGIB.TTF</string>
      <string>DS-DIGI.TTF</string>
      <string>StencilStd.ttf</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleVersion</key>
    <string>8.1</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>Fabric</key>
    <dict>
      <key>Kits</key>
      <array>
        <dict>
          <key>KitName</key>
          <string>Crashlytics</string>
          <key>KitInfo</key>
          <dict/>
        </dict>
      </array>
      <key>APIKey</key>
      <string>21fd70a77bd3052381b7e6fc5b8b2116b963531c</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>com.netease.news</string>
    <key>DTXcode</key>
    <string>0730</string>
    <key>LSHasLocalizedDisplayName</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>NewsBoard</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
          <string>AppIcon50x50</string>
          <string>AppIcon72x72</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>com.netease.newsapp</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ14AC1032</string>
          <string>tencent100346651</string>
          <string>newsapp</string>
          <string>yxb7d5da84ca9642ab97d73cd6301664ad</string>
          <string>wx7be3c1bb46c68c63</string>
          <string>wb3857427664</string>
          <string>lofter3d4e56092d18976683fe7945b6e1c380</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>alipayShare</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ap2015092300316036</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>prefs</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
